@import 'modules/reset';
@import 'modules/variables';
@import 'modules/layout';

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#app {
  zoom: 1.25;
  height: 480px;
  width: 300px;
  background: linear-gradient(to bottom, #8f67ff 0%, #6137d3 100%);
}
