@import 'modules/reset';
@import 'modules/variables';
@import 'modules/layout';

body,
html {
  padding: 0;
  margin: 0;
}

#app {
  height: 480px;
  width: 300px;
  background: linear-gradient(
    to bottom,
    rgb(143, 103, 255) 0%,
    rgb(97, 55, 211) 100%
  );
}
